@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
html, a{
    font-family: 'Roboto', sans-serif;
    color: #3c3c3c;
}
main {
    margin: 3vh auto;
}

.nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
}

.begin{
    flex: 2;
    display: flex;
    align-items: center;
}
.end{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.nav-item {
  font-weight: 500;
}

.nav-item a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.title{
    color: black;
    font-size: 2rem;
    font-weight: 900;
}

.button-style {
    background: #8EE5D1;
    border-radius: 2em;
    padding: 0px 15px;
}

.hero {
    display: flex;
    min-height: 60vh;
    margin: 10vh auto;
    align-items: center;
    width: 80%;
}
.text-hero{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.text-hero h1{
    font-size: 3em;
    color: black;
}
.text-hero p{
    font-size: 1.5em;
    padding: 1em 0;
    color: #3c3c3c;
    font-weight: 300;
}
.img-hero{
    display: flex;
    flex: 1;
    justify-content: flex-end;

}

.img-hero img{
    width: 80%;
}
.button-span-hero{
    margin: 1em 0em;
}
.button-hero{
    background: #8EE5D1;
    border-radius: 2em;
    padding: 15px 25px;
    text-decoration: none;
}

.book {
    min-height: 2vh;
    max-height: 30vh;
    background-color: #F4F7FA;
    display: flex;
    margin: auto
}

.book form{
    display: flex;
    width: 60%;
    margin: 5vh auto;
    justify-content: center;
    align-items: center;

}
input[type=text], select{
    width: 40%;
    padding: 1em 2em;
    margin: 1em;
    border: 1px solid #ccc;
    border-radius: 0.8em;
    box-sizing: border-box;
    color: #ccc;
}
input[type=submit] {
  background-color: #8EE5D1;
  color: #3c3c3c;
  padding: 14px 20px;
  margin: 1em;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  font-weight:700;
}
.why-choose{

}
